.main-page {
  display: flex;
  flex-wrap:initial;

  &__menu {
    width: 20rem;
    height: 100vh;

    background-color: #bdc5cc;
    overflow-y: scroll;
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 80rem;
    padding: 50px;
  }

  &__menu-button {
    text-align: start;
  }

}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
  border-bottom: 2px solid rgba(50, 50, 93, 0.25);
}

.mat-tree-node {
  border-bottom: 2px solid rgba(50, 50, 93, 0.25);
}

.loader {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.example-tree .parent-element {
  position: relative;
}

.example-tree .delete-button {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 1500px) {
  .main-page{

    &__content {
      width: 60rem;
      padding-left: 5px;
      padding-right: 5px;
    }

    &__menu {
      width: 30rem;
    }
  }
  
}
