<div class="search-page">
    <div class="search-page__search-block">
        <form class="search-page__search-form">
            <mat-form-field class="search-page__search-input">
                <mat-label>Search article</mat-label>
                <input type="text"
                       placeholder="Web"
                       aria-label="Search article"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button class="search-page__search-button" mat-stroked-button (click)="searchArticles()">Search</button>
        </form>
    </div>
    <div class="search-page__result" *ngIf="articles.length">
        <div class="search-page__article" *ngFor="let article of articles">
            <app-article [articleData]="article"></app-article>
        </div>
    </div>
    <div class="search-page__not-founded" *ngIf="!articles.length && !isFirstlyLoaded">
        <h3>Nothing found!</h3>
    </div>
</div>
