<mat-card class="article">
    <mat-card-header>
        <mat-card-title>{{articleData.a_name}}</mat-card-title>
        <mat-card-subtitle>{{articleData.name_topic}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p id="content">
            {{setContent(articleData.content)}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-flat-button *ngFor="let link of getLinks(articleData.link)" [href]="articleData.link" target="_blank">
            {{getDomainName(link)}}
        </a>
    </mat-card-actions>
</mat-card>