.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.definition-creation {
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 30vw;
  }

  &__button {
    padding: 30px;
    width: 30vw;
  }

  &__content {
    width: 30vw;
  }
}