.app {
  &__menu {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(229, 229, 229, 0.48);
    padding: 5px 0;

    &-item {
      width: auto;
      padding: 20px;
    }
  }
}